.App {
  
}

.App h2 {
  margin-left: 1em;
}

.btn {
  display: inline-block;
  padding: 0.25em 1em;
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.btn:hover {
  background: rgba(0, 0, 0, 0.125);
}